* {
    margin: 0;
}

#body1{
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rgb(112, 175, 223);
    text-align: center;
}

#img2{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 15px;
    margin-right: 10px;
}

#yo h1 {
    font-size: 80px;
}

#yo h2 {
    font-size: medium;
}

#nav{
    width: 100px;
    text-align: center;

 
}

#iconi img {
    height: 25px; /* Ajusta el tamaño según tus necesidades */
    width: 25px;  /* Ajusta el tamaño según tus necesidades */
}

#main1{
    background-color: rgb(144, 144, 199);
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    background: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffd700;
}

#s1{
    margin: 20px;
    flex-direction: column;
    flex: 1;
}

#s2{
    margin: 20px;
    flex: 1;
}

.tit{
    font-size: 30px;
    background-color: rgb(185, 185, 208);
}

.fecha{
    font-size: 20px;
    background-color: rgb(185, 185, 208);
    padding-left: 45px;
}


/* especifico proyectos.html */ 

.pro1{
    border: 4px solid blanchedalmond;
    height: 200px;
    width: 200px;
   margin-left: 100px;
   margin-top: 30px;
}